.questionEach {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-bottom: 2px solid var(--textOne);

}

.container {
  display: inline-flex;
}

.qbody {
  position: relative;
  margin-right: auto;
}

.interactions {
  position: relative;

}

.yesHelpful {
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  opacity: 1;
  color: var(--textTwo);
}

.addAnswerBtn {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  opacity: 1;
  color: var(--textTwo);
}

.answerQBtn {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: var(--textTwo);
}