.nav {
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: 100px;
  width: 70%;
}
.nav h1 {
  color: var(--textOne);
  text-decoration: underline;
  margin-bottom: 10px;
}
.themeToggle{
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
}
.formInput {
  color: white;
  background-color: white;
  border: none;
  border-bottom: 2px solid white;
}
.formInput:focus {
  outline: none;
}
.formButton {
  margin-right: 20px;
}